__pycache__/
.idea/
.DS_Store
checkpoint
checkpoints/
*.log
*.zip
*.index
*.data*
snap-*
*.meta
*.mat
*.pth
*.pyc
temp_*/
temp/
restore/
examples/
files/
imgs/
test_results/
imagenet-vgg-verydeep-19.mat
